In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
import statsmodels.api as sm
from matplotlib.backends.backend_pdf import PdfPages
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import termplotlib as tpl
import os

### 1. Data preprocessing

In [5]:
url = "https://raw.githubusercontent.com/aravind1338/506F20GroupProject/main/master.csv"
df = pd.read_csv(url, index_col=0)

In [7]:
df.shape

(27820, 11)

In [8]:
df.columns

Index(['year', 'sex', 'age', 'suicides_no', 'population', 'suicides/100k pop',
       'country-year', 'HDI for year', ' gdp_for_year ($) ',
       'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [17]:
df.rename(columns = {"suicides/100k pop": "suicides_per_100k", "gdp_per_capita ($)": "gdp_per_capita"}, inplace=True)

In [18]:
df.head()

,country,year,sex,age,suicides_no,population,suicides_per_100k,country-year,HDI for year,gdp_for_year ($),gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [11]:
df.age.drop_duplicates()

country
Albania    15-24 years
Albania    35-54 years
Albania      75+ years
Albania    25-34 years
Albania    55-74 years
Albania     5-14 years
Name: age, dtype: object

In [12]:
df.index.drop_duplicates()

Index(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       ...
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay',
       'Uzbekistan'],
      dtype='object', name='country', length=101)

In [13]:
df.generation.drop_duplicates()

country
Albania       Generation X
Albania             Silent
Albania    G.I. Generation
Albania            Boomers
Albania         Millenials
Albania       Generation Z
Name: generation, dtype: object

In [16]:
df.reset_index(inplace = True)

### 2. Linear combination

In [19]:
fml = "suicides_no ~ 0 + C(country) + C(sex) + C(age)"
m1 = sm.GLM.from_formula(fml, data=df, family=sm.families.Poisson())
r1 = m1.fit(scale="X2")
print(r1.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:            suicides_no   No. Observations:                27820
Model:                            GLM   Df Residuals:                    27713
Model Family:                 Poisson   Df Model:                          106
Link Function:                    log   Scale:                          52.071
Method:                          IRLS   Log-Likelihood:                -13611.
Date:                Wed, 11 Nov 2020   Deviance:                   1.2869e+06
Time:                        17:37:30   Pearson chi2:                 1.44e+06
No. Iterations:                    24
Covariance Type:            nonrobust
============================================================================================================
                                               coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
C(country)[Albania]                          0.9080      0.163      5.576      0.000       0.589       1.227
C(country)[Antigua and Barbuda]             -4.4847      2.176     -2.061      0.039      -8.749      -0.220
C(country)[Argentina]                        4.2964      0.027    160.598      0.000       4.244       4.349
C(country)[Armenia]                          0.7469      0.166      4.511      0.000       0.422       1.071
C(country)[Aruba]                           -1.6107      0.718     -2.243      0.025      -3.018      -0.203
C(country)[Australia]                        4.1698      0.029    145.170      0.000       4.114       4.226
C(country)[Austria]                          3.7690      0.034    112.505      0.000       3.703       3.835
C(country)[Azerbaijan]                       1.0528      0.178      5.929      0.000       0.705       1.401
C(country)[Bahamas]                         -2.1897      0.748     -2.926      0.003      -3.656      -0.723
C(country)[Bahrain]                         -0.4936      0.335     -1.471      0.141      -1.151       0.164
C(country)[Barbados]                        -1.6295      0.542     -3.004      0.003      -2.693      -0.566
C(country)[Belarus]                          4.3690      0.031    141.616      0.000       4.309       4.429
C(country)[Belgium]                          4.0263      0.030    133.322      0.000       3.967       4.086
C(country)[Belize]                          -1.0668      0.387     -2.757      0.006      -1.825      -0.308
C(country)[Bosnia and Herzegovina]           1.4821      0.405      3.662      0.000       0.689       2.275
C(country)[Brazil]                           5.3102      0.018    300.564      0.000       5.276       5.345
C(country)[Bulgaria]                         3.5140      0.039     90.330      0.000       3.438       3.590
C(country)[Cabo Verde]                       0.1509      1.113      0.136      0.892      -2.032       2.333
C(country)[Canada]                           4.6317      0.024    194.605      0.000       4.585       4.678
C(country)[Chile]                            3.5980      0.037     97.720      0.000       3.526       3.670
C(country)[Colombia]                         3.8588      0.033    118.334      0.000       3.795       3.923
C(country)[Costa Rica]                       1.8355      0.088     20.851      0.000       1.663       2.008
C(country)[Croatia]                          3.1442      0.054     58.307      0.000       3.039       3.250
C(country)[Cuba]                             3.8666      0.037    105.645      0.000       3.795       3.938
C(country)[Cyprus]                          -0.2733      0.356     -0.768      0.442      -0.970       0.424
C(country)[Czech Republic]                   3.8025      0.036    106.521      0.000       3.733       3.872
C(country)[Denmark]                          2.9576      0.059     50.090      0.000       2.842       3.073
C(country)[Dominica]                       -20.0651   1.66e+04     -0.001      0.999   -3.25e+04    3.25e+04
C(country)[Ecuador]                          2.9152      0.051     57.141      0.000       2.815       3.015
C(country)[El Salvador]                      2.6010      0.067     38.606      0.000       2.469       2.733
C(country)[Estonia]                          2.2272      0.087     25.743      0.000       2.058       2.397
C(country)[Fiji]                            -0.2677      0.414     -0.647      0.518      -1.079       0.544
C(country)[Finland]                          3.4705      0.040     85.998      0.000       3.391       3.550
C(country)[France]                           5.7162      0.016    368.543      0.000       5.686       5.747
C(country)[Georgia]                          1.4005      0.127     10.992      0.000       1.151       1.650
C(country)[Germany]                          5.7371      0.016    355.023      0.000       5.705       5.769
C(country)[Greece]                           2.4021      0.066     36.663      0.000       2.274       2.531
C(country)[Grenada]                         -3.2070      1.171     -2.740      0.006      -5.501      -0.913
C(country)[Guatemala]                        2.0177      0.080     25.080      0.000       1.860       2.175
C(country)[Guyana]                           1.3335      0.124     10.787      0.000       1.091       1.576
C(country)[Hungary]                          4.3658      0.028    155.617      0.000       4.311       4.421
C(country)[Iceland]                         -0.0420      0.217     -0.193      0.847      -0.467       0.383
C(country)[Ireland]                          2.4514      0.065     37.720      0.000       2.324       2.579
C(country)[Israel]                           2.3113      0.069     33.739      0.000       2.177       2.446
C(country)[Italy]                            4.7702      0.022    218.492      0.000       4.727       4.813
C(country)[Jamaica]                         -1.2051      0.532     -2.265      0.024      -2.248      -0.162
C(country)[Japan]                            6.5802      0.012    542.924      0.000       6.556       6.604
C(country)[Kazakhstan]                       4.6834      0.024    191.976      0.000       4.636       4.731
C(country)[Kiribati]                        -2.0144      0.991     -2.032      0.042      -3.957      -0.072
C(country)[Kuwait]                           0.0675      0.232      0.291      0.771      -0.388       0.523
C(country)[Kyrgyzstan]                       2.6347      0.064     41.348      0.000       2.510       2.760
C(country)[Latvia]                           2.8235      0.064     43.777      0.000       2.697       2.950
C(country)[Lithuania]                        3.5639      0.044     80.925      0.000       3.478       3.650
C(country)[Luxembourg]                       0.5589      0.163      3.422      0.001       0.239       0.879
C(country)[Macau]                           -0.2910      1.389     -0.210      0.834      -3.013       2.431
C(country)[Maldives]                        -2.8936      1.614     -1.793      0.073      -6.056       0.269
C(country)[Malta]                           -0.6492      0.298     -2.175      0.030      -1.234      -0.064
C(country)[Mauritius]                        1.2149      0.116     10.474      0.000       0.988       1.442
C(country)[Mexico]                           4.5978      0.023    195.892      0.000       4.552       4.644
C(country)[Mongolia]                         2.4684      0.351      7.033      0.000       1.780       3.156
C(country)[Montenegro]                       0.2676      0.332      0.805      0.421      -0.384       0.919
C(country)[Netherlands]                      3.7840      0.033    113.746      0.000       3.719       3.849
C(country)[New Zealand]                      2.6197      0.061     43.052      0.000       2.500       2.739
C(country)[Nicaragua]                        2.2288      0.161     13.836      0.000       1.913       2.545
C(country)[Norway]                           2.7525      0.056     49.067      0.000       2.643       2.862
C(country)[Oman]                            -1.1889      1.256     -0.946      0.344      -3.651       1.273
C(country)[Panama]                           1.3500      0.123     11.011      0.000       1.110       1.590
C(country)[Paraguay]                         1.5902      0.105     15.183      0.000       1.385       1.795
C(country)[Philippines]                      3.6730      0.050     73.116      0.000       3.575       3.771
C(country)[Poland]                           5.0781      0.021    237.619      0.000       5.036       5.120
C(country)[Portugal]                         3.2057      0.047     67.635      0.000       3.113       3.299
C(country)[Puerto Rico]                      2.0890      0.076     27.334      0.000       1.939       2.239
C(country)[Qatar]                            0.0583      0.301      0.194      0.847      -0.532       0.649
C(country)[Republic of Korea]                5.4543      0.017    325.196      0.000       5.421       5.487
C(country)[Romania]                          4.2764      0.028    151.399      0.000       4.221       4.332
C(country)[Russian Federation]               7.1233      0.011    636.103      0.000       7.101       7.145
C(country)[Saint Kitts and Nevis]          -20.0651   9567.770     -0.002      0.998   -1.88e+04    1.87e+04
C(country)[Saint Lucia]                     -1.4809      0.476     -3.112      0.002      -2.414      -0.548
C(country)[Saint Vincent and Grenadines]    -1.9854      0.648     -3.063      0.002      -3.256      -0.715
C(country)[San Marino]                      -3.2991      3.608     -0.914      0.361     -10.371       3.773
C(country)[Serbia]                           3.6161      0.047     76.473      0.000       3.523       3.709
C(country)[Seychelles]                      -1.8922      0.729     -2.596      0.009      -3.321      -0.463
C(country)[Singapore]                        2.1984      0.072     30.360      0.000       2.056       2.340
C(country)[Slovakia]                         2.8279      0.063     44.953      0.000       2.705       2.951
C(country)[Slovenia]                         2.6387      0.071     37.363      0.000       2.500       2.777
C(country)[South Africa]                     2.3160      0.085     27.304      0.000       2.150       2.482
C(country)[Spain]                            4.4942      0.025    183.165      0.000       4.446       4.542
C(country)[Sri Lanka]                        4.9420      0.032    154.876      0.000       4.879       5.005
C(country)[Suriname]                         0.7616      0.155      4.904      0.000       0.457       1.066
C(country)[Sweden]                           3.5522      0.038     92.963      0.000       3.477       3.627
C(country)[Switzerland]                      3.5429      0.045     77.897      0.000       3.454       3.632
C(country)[Thailand]                         4.6953      0.024    199.670      0.000       4.649       4.741
C(country)[Trinidad and Tobago]              1.4211      0.114     12.476      0.000       1.198       1.644
C(country)[Turkey]                           3.6907      0.072     51.071      0.000       3.549       3.832
C(country)[Turkmenistan]                     2.1082      0.078     26.948      0.000       1.955       2.262
C(country)[Ukraine]                          5.7569      0.016    367.716      0.000       5.726       5.788
C(country)[United Arab Emirates]             1.0544      0.289      3.642      0.000       0.487       1.622
C(country)[United Kingdom]                   4.8055      0.022    223.336      0.000       4.763       4.848
C(country)[United States]                    6.8282      0.012    592.707      0.000       6.806       6.851
C(country)[Uruguay]                          2.5643      0.064     40.315      0.000       2.440       2.689
C(country)[Uzbekistan]                       3.7796      0.040     95.131      0.000       3.702       3.857
C(sex)[T.male]                               1.2022      0.007    182.428      0.000       1.189       1.215
C(age)[T.25-34 years]                        0.3293      0.011     31.297      0.000       0.309       0.350
C(age)[T.35-54 years]                        1.1095      0.009    119.892      0.000       1.091       1.128
C(age)[T.5-14 years]                        -2.7362      0.033    -84.014      0.000      -2.800      -2.672
C(age)[T.55-74 years]                        0.7184      0.010     73.398      0.000       0.699       0.738
C(age)[T.75+ years]                         -0.2135      0.012    -17.782      0.000      -0.237      -0.190
============================================================================================================

In [21]:
gender = pd.get_dummies(df[['sex']])
gender

       sex_female  sex_male
0               0         1
1               0         1
2               1         0
3               0         1
4               0         1
...           ...       ...
27815           1         0
27816           1         0
27817           0         1
27818           1         0
27819           1         0

[27820 rows x 2 columns]